@model Message

<div class="modal fade" id="add-contact">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                <span>person_add</span>New Message
            </h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                <span>close</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="post" action="/Message/CreateMessage">
                <div class="mb-3">
                    <label>Phone Number</label>
                    <input class="form-control form-control-lg" asp-for="ReceiverPhone" type="text" />
                </div>
                <div class="mb-3">
                    <label>Message</label>
                    <input class="form-control form-control-lg" asp-for="Content" type="text" />
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-warning">Send</button>
                </div>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            </form>
        </div>
    </div>
</div>