@{
    ViewData["Title"] = "Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-flex justify-content-between align-items-center">
    <div class="chat-title">
        <h4>Messages</h4>
    </div>
</div>

<div>  
    <input class="form-control chat_input" id="search-contacts" type="text" placeholder="Search">
</div>

<div class="left-chat-title d-flex justify-content-between align-items-center ps-0 pe-0">
    <div class="chat-title">
        <h4>Chats</h4>
    </div>
    <div class="add-section">
        <a href="#"><i class="fas fa-edit"></i></a>
    </div>
</div>

<ul class="user-list mt-2">
    @{
        string name = "";
        foreach (var item in ViewBag.Messages)
        {

            if (item.AppUser.Name != name)
            {
                name = item.AppUser.Name;
                <li class="user-list-item">
                    <div class="avatar avatar-online">
                        <img src="~/UserImage/@item.AppUser.ImageUrl" class="rounded-circle" alt="image">
                    </div>
                    <div class="users-list-body">
                        <div>
                            <a href="/Message/ChatDetails/@item.AppUserId"><h5>@item.AppUser.Name</h5></a>
                        </div>
                    </div>
                </li>
            }

        }
    }

</ul>



